#main {
  background-color: #708090;
  font-family: "Roboto";
}

#container {
  box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.75);
  background-color: #ffffff;
}

#title {
  font-size: 2.5rem;
  text-align: center;
}

#graph {
  margin-bottom: 2rem;
}